<div class="main-header">
  <div class="group">
    <p>Hello World</p>
  </div>
  <div class="chat-end">
    <a href="#">チャットを終了する</a>
  </div>    
</div>

<div class="main-contents">
  <div class="user-category">
    <div class="user">
      <p class="name">Takuma</p>
      <p class="date-time">2021/5/6/(Thu) 12:30:30<p>
    </div>
    <div class="message">
      <p>Good morning</p>
    </div>
  </div>
  <div class="user-category">  
    <div class="user"> 
      <p class="name">Mae</p>
      <p class="date-time">2021/5/6/(Thu) 12:30:30<p>
    </div>
    <div class="message">
      <p>Good evening</p>
    </div>
  </div>  
</div>

<div class="main-footer">
  <div class="message-form">
    <input type="text" placeholder="type a message" class="format">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit">
</div>
  