.wrapper {
  display: flex;
}

.main-container {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #FAFAFA;
  
}

.main-header {
  height: 100px;
  background-color: #FFFFFF;
  padding:0 40px;
  display: flex;
  justify-content: space-between;
}

.group{
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.chat-end{
  margin-top: 40px;
}

.chat-end a {
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.user-category{
  margin-bottom: 40px;
  overflow: scroll;
}

.user{
  display: flex;
  margin: 10px 0; 
}

.name{
  color: #434a54;
  font-size: 16px;
  margin-right: 10px
}
.date-time{
  color: #999;
  font-size: 12px;
}

.message{
  color: #434A54;
  font-size: 14px;
}

.main-footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.message-form{
 background-color: white;
 width: 100%;
 display: flex;
}

.format{
  width: 100%;
  
  height: 50px;
  padding-left: 10px;
  border: none
}

.submit{
  background-color: #38AEF0;
  font-size: 16px;
  color: white;
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  border: none;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}

.side-container {
  height: 100vh;
  width: 300px;
  background-color: #2F3E51;
  
}

.side-main {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.chat-room{
  margin:20px 0 40px 0;
}

.chat-room a{
  color: white;
}

.side-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-user-name {
  color: #FAFAFA;
  font-size: 16px;
}

.chat-box{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
}